@charset "UTF-8";

body {
  padding-top: 40px;
  background: rgb(226, 249, 255);
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

/* ====================================== */
/*           トップバー関連                 */
/* ====================================== */
/*#region*/
header {
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを50pxに指定 */
  background: rgb(137, 234, 252); /* 背景色にグレーを指定 */
  padding: 0px 0; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
  border-top: 4px solid rgb(38, 139, 255);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.Top_main {
  margin: 0 auto; 
  display: flex; 
  align-items: center;
}
  
.Top_image {
  width: 80px;
  height: 30px;
  
}

.Top_btn_Off {
  width: 80px;
  margin: 0 10px;
}

.Top_btn_On {
  width: 80px; 
  margin: 0 10px;
}

.Top_btn_Off a{
  background: white;
  color: rgb(105, 180, 194);
  padding: 3px;
  border-radius: 15px;
  text-decoration: none;
  display: block;
  font-size: small;
  text-align: center;
}

.Top_btn_On a{
  background: rgb(105, 180, 194);
  color: white;
  padding: 3px;
  border-radius: 15px;
  text-decoration: none;
  display: block;
  font-size: small;
  text-align: center;
}

.Top_btn_Off:hover a{
  background: rgb(188, 226, 241);
}

.Top_btn_On, .Top_btn_Off span{
  font-weight: bold;
}
/*#endregion*/

/* ====================================== */
/*         データ表示、検索機能関連           */
/* ====================================== */
/*#region*/
.Info_main {
  width: 350px;
  margin: 1px auto;
  background: white;
  border-radius: 4px;
}

.Info_main ul {
  padding-left: 0;
  margin-bottom: 5px;
}

.Info_main li {
  display: inline-block;
  color: black;
  list-style: none;
  width: 45%;
  margin-left: 3%;
 }

 .Info_box input {
  display: inline-block;
  color: black;
  list-style: none;
  margin: 0 5%;
  height: 100%;
  width: 90%;
  resize: none;
  border-radius: 4px;
  border: 2px solid #999999cb;
  box-sizing: border-box;
 }

 .Info_box input[type='text']:focus {
  border: 2px solid rgba(34, 104, 255, 0.705);
  outline: none;
  box-shadow: 0 0 1px 1px rgba(22, 65, 145, 0.5);
}

 .Info_text_s {
  color: rgb(168, 168, 168);
  font-size: small;
 }

 .Info_text_m {
  font-weight: bold;
  font-size: large;
 }

 .Info_Serach {
  display: flex; 
  padding-bottom: 10px;
 }

 .Info_box{
  width: 80%;
 }

 .Info_btn{
  width: 15%;
 }

 .Info_btn a{
  background: rgb(55, 192, 255);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  font-size: 6px;
  text-align: center;
  border: 1px solid rgb(105, 144, 194);
 }

 .Info_btn span{
  font-weight: bold;
 }
/*#endregion*/

/* ====================================== */
/*             テーブル関連                 */
/* ====================================== */
/*#region*/
  .Tbl_main {
    margin: auto;
    table-layout: fixed;
    width: 350px;
    border-collapse: separate;
    border-spacing: 0px 8px;
  }

  .Tbl_td_img {
    width: 100px;
    padding: 0px 10px;
  }

  .Tbl_td_img img {
    width: 100%;
  }

  .Tbl_td_data {
    padding-left: 10px;
  }

  .Tbl_td_data span {
    color: rgb(168, 168, 168);
    font-size: small;
  }

  .Tbl_tr {
    height: 100px;
    background: white;
    width: 100%;
  }

  .Tbl_tr:hover {
    background: rgb(255, 246, 246);
  }
  
  .Tbl_tr a {
    font-weight: bold;
  }

  .Tbl_tr:hover a {
    color: rgb(255, 0, 0);
  }
/*#endregion*/

/* ====================================== */
/*             ダイアログ関連               */
/* ====================================== */
/*#region*/
  .Mdl_main {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.2s
  }

  .Mdl_content {
    position: fixed;
    background-color: #ffffff;
    width: 480px;
    height: 450px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.2s;
    border-radius: 8px;
  }

  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0
    }

    to {
      bottom: 100px;
      opacity: 1
    }
  }

  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0
    }

    to {
      bottom: 100px;
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  .Mdl_img{
    width: 100%; 
    margin: auto;
  }

  .Mdl_img img {
    width: 80%; 
    margin: 5% 10% 0 10%;
    border-radius: 2px;
  }

  .Mdl_title{
    font-weight: bold; 
    font-size: 24px; 
    margin: 0 10%;
  }

  .Mdl_btn_list{
    width: 80%;
    margin: 10px auto 0;
    padding-left: 0;
  }

 .Mdl_btn_list li {
  display: inline-block;
  color: #FFF;
  border-radius: 4px;
  list-style: none;
  width: 30%;
  padding: 0 1%;
  margin-left: 0.5%;
 }

 .Mdl_btn_list a {
  position: relative;
  display: block;
  color: #FFF;
  border-radius: 8px;
  text-decoration: none;
  padding: 15px;
  text-align: center;
 }
  
 

  a.link_tw {
    background: #7fcdf1d0;
    border-bottom: 2px solid #62a6ff;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  a.link_tw:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  a.link_ta {
    background: #f1c183cb;
    border-bottom: 2px solid #e99f1f;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  a.link_ta:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  a.link_ma {
    background: #f89999cb;
    border-bottom: 2px solid #df4d28;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  a.link_ma:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  /*#endregion*/