@charset "UTF-8";

header {
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを50pxに指定 */
  background: rgb(170, 242, 255); /* 背景色にグレーを指定 */
  padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
  border-top: 4px solid rgb(38, 139, 255);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: auto;
}

body {
  background: rgb(237, 251, 255);
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

table.t_main {
    margin: auto;
    table-layout: fixed;
    width: 300px;
    border-collapse: collapse;
  }

  table.t_sub {
    margin: auto;
    table-layout: fixed;
  }

  input.i_search {
    resize: none;
    height: 34px;
  }

  .item_sub {
    color: rgb(168, 168, 168);
    font-size: small;
  }

  .modal_image {
    width: 80%; 
    margin-left: 10%;
  }

  .tr_main {
    height: 88px;
  }

  .modal_body a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #FFF;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.2s
  }

  /* Modal Content */
  .modal-content {
    position: fixed;
    background-color: #fefefe;
    width: 600px;
    height: 700px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.2s
  }

  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0
    }

    to {
      bottom: 100px;
      opacity: 1
    }
  }

  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0
    }

    to {
      bottom: 100px;
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }


  /* ボタン */

  section {
    max-width: 100px;
  }
  
  a.cp_btn_a {
    
    background: #2798cc;
    border-bottom: 2px solid #279863;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  a.cp_btn_a:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  a.cp_btn_b {
    
    background: #e99f3f;
    border-bottom: 2px solid #e99f1f;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  a.cp_btn_b:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  a.cp_btn_c {
    
    background: #df4d4d;
    border-bottom: 2px solid #df4d28;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  a.cp_btn_c:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }

  /* 検索入力欄*/

  .cp_iptxt {
    position: relative;
    padding-right: 20px;
  }
  .cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.2s;
    letter-spacing: 1px;
    color: #000000;
    border: 2px solid #999999;
    border-radius: 3px;
  }
  .ef input[type='text']:focus {
    border: 2px solid #2339fc;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(22, 65, 145, 0.5);
  }