<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>na_web</title>
</head>
<body>
  <script src="./script/home.js"></script>
  <!-- トップバー関連 -->
  <header>
    <div class="Top_main">
      <div class="Top_image"><svg viewBox="0 0 70 20" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
        <defs>
          <style bx:fonts="Jua">@import url(https://fonts.googleapis.com/css2?family=Jua%3Aital%2Cwght%400%2C400&amp;display=swap);</style>
        </defs>
        <text style="fill: rgb(255, 255, 255); font-family: Jua; font-size: 10px; font-weight: 700; stroke-width: 0.988418px; white-space: pre;" transform="matrix(1.872036, 0, 0, 2.014529, -270.774261, -210.260635)" x="144.816" y="112.953">na_web</text>
      </svg></div>
      <div class="Top_btn_Off"><a href="http://localhost:5000"><span>Home</span></a></div>
      <div class="Top_btn_On"><a href="http://localhost:5000/about"><span>about</span></a></div>
    </div>
  </header>
  
</body>
</html>