<!DOCTYPE html>
<html>
<head lang="ja">
  <style type="text/css">
    table.t_main {
      margin: auto;
      table-layout: fixed;
      width: 50%;
    }
    table.t_sub {
      margin: auto;
      table-layout: fixed;
    }
    input.i_search {
      resize: none;
      height: 20px;
    }
  </style>
  <script>
    function Search() {

        var test = window.location.pathname;
      alert(test);

      // var input = document.getElementById("inputText").value;
      // var rowElement = document.getElementById("mainTable").rows;
      // for (let cnt = 0; cnt < rowElement.length; cnt++) {
      //   if (!rowElement[cnt].id.includes(input)) {
      //     rowElement[cnt].style.display = "none";
      //   }
      //   else {
      //     rowElement[cnt].style.display = "";
      //   }
      // }
    }
    function Reset() {
      var rowElement = document.getElementById("mainTable").rows;
      for (let cnt = 0; cnt < rowElement.length; cnt++) {
        rowElement[cnt].style.display = "";
      }
    }
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header style="background :rgb(179, 179, 179);">TestTitle</header>

  <table class="t_sub" style="background: greenyellow;">
    <tr>
      <td style="width: 100px;"><label>掲載店舗数<%= items.length %></label></td>
    </tr>
    <tr>
      <td style="width: 100px;"><label id="test_label">駅名検索</label></td>
      <td style="width: 300px;"><input type="text" id="inputText" class="i_search"></input></td>
      <td style="width: 30px;"><input type="button" value="検索" onclick="Search()"></td>
      <td style="width: 30px;"><input type="button" value="取消" onclick="Reset()"></td>
    </tr>
  </table>

  <% const tr_s1='<tr id="'%>
  <% const tr_s2='"/>'%>

  <table class="t_main" border="0" id="mainTable">
    <tbody id="s_result">
      <% for(let i=0; i < items.length; i++) { %><%- tr_s1 + items[i].station + tr_s2 %>
      <td>
        <image src="./image/4dtEpDB__400x400.jpeg" alt="海の写真" title="空と海">
        <a href="https://twitter.com/trysail_staff">
          <b><%= items[i].name + ' ' + items[i].station + items[i].date %></b>
        </a>
      </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>